<!DOCTYPE html>
<html lang="en">

<!-- import head partials -->
<%- include('./partials/head.ejs') %>

<body>
  <!-- <%= JSON.stringify(items) %> -->
  <!-- <% const title = 'eyo' %> -->

 <!-- import nav partials -->
 <%- include('./partials/nav.ejs')%>
  
      <div class="container">
        <ul class="collection with-header">
          <% if (items.length>0){ %>

          <%    items.forEach(item => {  %>
                <li class="collection-item">
                  <div><%= item.name%> <%= item.price %><a href="#!" 
                    class="secondary-content">
                    <i class="material-icons">edit</i>
                    <i class="material-icons">delete</i></a>
                  </div>
                </li>
          <%    }); %>

          <% } else { %>
            <li>There are no items</li>
          <% } %>

          </ul>
      </div>

</body>
</html>